@font-face {
  font-family: "Raleway Light";
  src: url(../fonts/Raleway-Light.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway Bold";
  src: url(../fonts/Raleway-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway Heavy";
  src: url(../fonts/Raleway-Heavy.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pacifico";
  src: url(../fonts/Pacifico.ttf);
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 10px;
}

/*header styls*/
.header {
  margin: 0 auto;
  width: 100%;
  background: url(../img/header_bgd.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding-bottom: 3rem;
}

.header__container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__logo {
  font-family: "Pacifico";
  font-size: 5rem;
  margin-top: 3rem;
}

.header__nav__list__item {
  position: relative;
  display: inline-block;
}

.header__nav__list__item::before {
  display: block;
  content: "";
  position: absolute;
  top: -100%;
  width: 100%;
  height: 0.33rem;
  background-color: #ff6033;
  opacity: 0;
}

.header__nav__list__item:hover::before {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__nav__list__item__link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Bold";
  color: #262626;
  font-size: 1.6rem;
}

.header__mobile_menu {
  width: 10rem;
  position: absolute;
  top: 65%;
  left: 90%;
  bottom: 0;
}

.header__mobile_menu::before {
  content: "";
  display: block;
  width: 3.2rem;
  height: 3.2rem;
  background: url(../img/menu_icon.svg);
  position: absolute;
  left: 0;
  top: 0;
}

.header__mobile_menu li {
  display: none;
}

.header__mobile_menu:hover li {
  display: block;
}

.header__mobile_menu:hover li a {
  text-decoration: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-family: "Raleway Bold";
  line-height: 1.3;
  color: #ff6033;
  margin: 0;
  padding: 0;
}

.header__mobile_menu:hover li a:hover {
  border-bottom: 0.2rem solid #ff6033;
}

.header__mobile_menu:hover::before {
  display: none;
}

.header__mobile_menu:hover {
  right: 0;
}

.header__text_block {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__text_block__heading {
  font-family: "Raleway Heavy";
  color: #262626;
  font-size: 6rem;
  margin-bottom: 4rem;
}

.header__text_block__text {
  display: block;
  font-family: "Raleway Light";
  color: #262626;
  width: 100%;
  max-width: 37rem;
  font-size: 1.6rem;
  line-height: 2;
  margin-bottom: 3.5rem;
}

.header__text_block__btn {
  font-family: "Raleway Light";
  font-size: 2rem;
  color: #fff;
  padding: 2rem 0rem;
  background-color: #ff6033;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
}

.header__text_block__btn:hover {
  color: #ff6033;
  background-color: transparent;
  border: 0.2rem solid #ff6033;
  padding: 1.8rem 0rem;
  font-size: 2rem;
}

.header__text_block__btn:focus {
  outline: none !important;
}

.header__skroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*first section styls*/
.first_section {
  margin: 0 auto;
  width: 100%;
  background-color: #00b1b1;
}

.first_section__container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.first_section__container .first_section__img_container__picture {
  border-radius: 50%;
  -webkit-box-shadow: -20px 5px 39px 0px rgba(0, 0, 0, 0.2);
          box-shadow: -20px 5px 39px 0px rgba(0, 0, 0, 0.2);
}

.first_section__container .first_section__text_block__heading {
  font-family: "Raleway Bold";
  font-size: 9rem;
  line-height: 1;
  color: #fff;
  line-height: 0.75;
  margin-bottom: 3.8rem;
}

.first_section__container .first_section__text_block__text {
  font-family: "Raleway";
  font-size: 1.7rem;
  color: #fff;
  line-height: 2;
}

/*second section styls*/
.second_section {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #70bfff;
}

.second_section .second_section__container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.second_section .second_section__container .second_section__container__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.second_section .second_section__container .second_section__container__buttons .second_section__container__buttons__btn {
  height: 10rem;
  max-width: 40rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
  margin-bottom: 2rem;
  font-family: "Raleway Bold";
  font-size: 2rem;
  color: #262626;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
}

.second_section .second_section__container .second_section__container__buttons .second_section__container__buttons__btn div {
  width: 78%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid #9d9d9d;
}

.second_section .second_section__container .second_section__container__buttons:nth-child(4) {
  margin-bottom: 0;
}

.second_section .second_section__container .second_section__container__text {
  background: url(../img/second_section_bg.png) no-repeat;
}

.second_section .second_section__container .second_section__container__text .second_section__container__text__heading {
  font-family: "Raleway Bold";
  line-height: 1;
  color: #fff;
}

/*third section styls*/
.third_section {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffe92f;
}

.third_section .head {
  grid-area: head;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.third_section .head .third_section__text_block__heading {
  font-family: "Raleway Bold";
  color: #262626;
}

.third_section .head .third_section__container__text {
  display: block;
  text-align: center;
  font-family: "Raleway Light";
  font-size: 1.7rem;
  color: #262626;
}

.third_section .first {
  grid-area: first;
}

.third_section .second {
  grid-area: second;
}

.third_section .third {
  grid-area: third;
}

.third_section .fourth {
  grid-area: fourth;
}

.third_section .fifth {
  grid-area: fifth;
}

.third_section .grid_img {
  width: 100%;
}

.third_section .bottom {
  grid-area: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.third_section .bottom .third_section__container__btn {
  margin-top: 2rem;
  padding: 2rem 4.4rem;
  font-size: 20px;
  font-family: "Raleway Light";
  text-transform: uppercase;
  color: #fff;
  background-color: #5585a2;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  border: 0.1rem solid transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.third_section .bottom .third_section__container__btn:hover {
  color: #5585a2;
  border: 0.1rem solid #5585a2;
  background-color: #fff;
}

@media (min-width: 0px) and (max-width: 480px) {
  html {
    font-size: 9px;
  }
  /*header styls*/
  .header {
    max-width: 48rem;
  }
  .header__container {
    width: 90%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__nav__list__item {
    display: none;
  }
  .header__mobile_menu {
    top: 60%;
    left: 74%;
  }
  .header__text_block {
    width: 90%;
    margin-top: 10rem;
    margin-bottom: 5.6rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__text_block__btn {
    width: 100%;
    max-width: 37rem;
  }
  /*first section styls*/
  .first_section {
    max-width: 48rem;
    padding: 3rem 0;
  }
  .first_section__container {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .first_section__img_container {
    width: 100%;
    text-align: center;
    margin-top: 3rem;
  }
  .first_section__img_container__picture {
    width: 75%;
  }
  .first_section__text_block {
    text-align: center;
  }
  .first_section__text_block .first_section__text_block__heading {
    font-size: 6rem;
  }
  .first_section__text_block__heading {
    font-size: 6rem;
  }
  /*second section styls*/
  .second_section {
    max-width: 48rem;
    padding: 3rem 0 1rem;
  }
  .second_section__container {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .second_section__container__buttons {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2rem 0 0;
  }
  .second_section__container__text {
    width: 100%;
    height: 40rem;
    background-size: 50%;
    background-position: 5.5rem;
    text-align: center;
  }
  .second_section__container__text .second_section__container__text__heading {
    font-size: 6rem;
    margin-top: 18rem;
  }
  /*third section styls*/
  .third_section {
    max-width: 48rem;
  }
  .third_section__container {
    margin: 0 auto;
    width: 90%;
    padding: 5rem 0 5rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
    -ms-grid-rows: auto auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto auto;
    gap: 15px 15px;
        grid-template-areas: "head head head head" "first first first first" "second second third third" "fourth fourth fourth fourth" "fifth fifth fifth fifth" "bottom bottom bottom bottom";
  }
  .third_section__text_block__heading {
    font-size: 6rem;
  }
  .third_section__container__text {
    width: 100%;
    margin: 5rem 0;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  /*header styls*/
  .header {
    min-width: 48.1rem;
    max-width: 76.7rem;
  }
  .header__container {
    width: 80%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__nav__list__item {
    display: none;
  }
  .header__mobile_menu {
    top: 60%;
    left: 86%;
  }
  .header__text_block {
    width: 90%;
    margin-top: 10rem;
    margin-bottom: 10rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__text_block__btn {
    width: 100%;
    max-width: 37rem;
  }
  /*first section styls*/
  .first_section {
    min-width: 48.1rem;
    max-width: 76.7rem;
    padding: 3rem 0;
  }
  .first_section__container {
    width: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .first_section__img_container {
    width: 100%;
    text-align: center;
    margin-top: 3rem;
  }
  .first_section__img_container__picture {
    width: 75%;
  }
  .first_section__text_block {
    text-align: center;
  }
  .first_section__text_block .first_section__text_block__heading {
    font-size: 6rem;
  }
  /*second section styls*/
  .second_section {
    min-width: 48.1rem;
    max-width: 76.7rem;
    padding: 3rem 0;
  }
  .second_section__container {
    width: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .second_section__container__buttons {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 7.5rem 0 0;
  }
  .second_section__container__text {
    width: 100%;
    height: 52rem;
    background-position: center;
    text-align: center;
  }
  .second_section__container__text .second_section__container__text__heading {
    margin-top: 15rem;
    font-size: 6rem;
  }
  /*third section styls*/
  .third_section {
    min-width: 48.1rem;
    max-width: 76.7rem;
  }
  .third_section__container {
    margin: 0 auto;
    width: 80%;
    padding: 5rem 0 5rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
    -ms-grid-rows: auto auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto auto;
    gap: 15px 15px;
        grid-template-areas: "head head head head" "first first first first" "second second third third" ". fourth fourth ." ". fifth fifth ." ". bottom bottom .";
  }
  .third_section__text_block__heading {
    font-size: 6rem;
  }
  .third_section__container__text {
    width: 100%;
    margin: 5rem 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /*header styls*/
  .header {
    max-width: 76.8rem;
    min-width: 99.1rem;
  }
  .header__container {
    width: 90%;
  }
  .header__nav__list__item {
    margin: 0rem 0.8rem;
    margin-top: 5rem;
  }
  .header__mobile_menu {
    display: none;
  }
  .header__text_block {
    width: 90%;
    margin-top: 10rem;
    margin-bottom: 10rem;
  }
  .header__text_block__btn {
    width: 100%;
    max-width: 20rem;
  }
  /*first section styls*/
  .first_section {
    max-width: 76.8rem;
    min-width: 99.1rem;
    padding: 5rem 0;
  }
  .first_section__container {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .first_section__img_container {
    width: 100%;
    text-align: center;
    margin-top: 5rem;
  }
  .first_section__text_block {
    text-align: center;
    width: 100%;
  }
  /*second section styls*/
  .second_section {
    max-width: 76.8rem;
    min-width: 99.1rem;
    padding: 5rem 0 5rem 0;
  }
  .second_section__container {
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .second_section__container__buttons {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 7.5rem 0 0;
  }
  .second_section__container__text {
    width: 100%;
    height: 52rem;
    background-position: center;
    text-align: center;
  }
  .second_section__container__text .second_section__container__text__heading {
    margin-top: 15rem;
    font-size: 9rem;
  }
  /*third section styls*/
  .third_section {
    max-width: 76.8rem;
    min-width: 99.1rem;
  }
  .third_section__container {
    margin: 0 auto;
    width: 90%;
    padding: 5rem 0 5rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
    -ms-grid-rows: auto auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto auto;
    gap: 30px 30px;
        grid-template-areas: "head head head head" "first first first first" "second second third third" ". fourth fourth ." ". fifth fifth ." ". bottom bottom .";
  }
  .third_section__text_block__heading {
    font-size: 9rem;
  }
  .third_section__container__text {
    width: 100%;
    margin: 5rem 0 0;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  /*header styls*/
  .header {
    max-width: 119.9rem;
    min-width: 99.2rem;
  }
  .header__container {
    width: 78%;
  }
  .header__nav__list__item {
    margin: 0rem 0.8rem;
    margin-top: 5rem;
  }
  .header__mobile_menu {
    display: none;
  }
  .header__text_block {
    width: 78%;
    margin-top: 10rem;
    margin-bottom: 10rem;
  }
  .header__text_block__btn {
    width: 100%;
    max-width: 20rem;
  }
  /*first section styls*/
  .first_section {
    max-width: 119.9rem;
    min-width: 99.2rem;
    padding: 7.5rem 0;
  }
  .first_section__container {
    width: 78%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .first_section__img_container {
    width: 100%;
    text-align: center;
    margin-top: 10rem;
  }
  .first_section__text_block {
    text-align: center;
    width: 100%;
  }
  /*second section styls*/
  .second_section {
    max-width: 119.9rem;
    min-width: 99.2rem;
    padding: 7.5rem 0 7.3rem 0;
  }
  .second_section__container {
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .second_section__container__buttons {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 7.5rem 0 0;
  }
  .second_section__container__text {
    width: 100%;
    height: 52rem;
    background-position: center;
    text-align: center;
  }
  .second_section__container__text .second_section__container__text__heading {
    margin-top: 25rem;
    font-size: 9rem;
  }
  /*third section styls*/
  .third_section {
    max-width: 119.9rem;
    min-width: 99.2rem;
  }
  .third_section__container {
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 48.72% 14.53% 31.62%;
        grid-template-columns: 48.72% 14.53% 31.62%;
    -ms-grid-rows: auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto;
    gap: 30px 30px;
        grid-template-areas: "head head head" "first first second" "first first third" "fourth fifth fifth" "bottom bottom bottom";
  }
  .third_section__container {
    width: 78%;
    padding: 7.5rem 0 7.5rem;
  }
  .third_section__text_block__heading {
    font-size: 9rem;
  }
  .third_section__container__text {
    width: 50%;
    margin: 5rem 0;
  }
}

@media (min-width: 1200px) {
  /*header styls*/
  .header {
    max-width: 150rem;
    padding-bottom: 7rem;
  }
  .header__container {
    width: 78%;
  }
  .header__nav__list__item {
    margin: 0rem 0.8rem;
    margin-top: 5rem;
  }
  .header__mobile_menu {
    display: none;
  }
  .header__text_block {
    width: 78%;
    margin-top: 250px;
    margin-bottom: 265px;
  }
  .header__text_block__btn {
    width: 100%;
    max-width: 20rem;
  }
  /*first section styls*/
  .first_section {
    max-width: 150rem;
    padding: 7.5rem 0;
  }
  .first_section__container {
    width: 78%;
  }
  .first_section__img_container {
    width: 56%;
    margin-right: 10rem;
  }
  .first_section__text_block {
    margin-top: 10rem;
  }
  /*second section styls*/
  .second_section {
    max-width: 150rem;
  }
  .second_section__container {
    width: 78%;
  }
  .second_section__container__buttons {
    width: 40%;
    margin: 18rem 0;
    padding-right: 15rem;
  }
  .second_section__container__text {
    width: 60%;
    margin-top: 10.5rem;
    padding-top: 23em;
  }
  .second_section__container__text .second_section__container__text__heading {
    line-height: 0.73;
    font-size: 9rem;
  }
  /*third section styls*/
  .third_section__container {
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 48.72% 14.53% 31.62%;
        grid-template-columns: 48.72% 14.53% 31.62%;
    -ms-grid-rows: auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto;
    gap: 30px 30px;
        grid-template-areas: "head head head" "first first second" "first first third" "fourth fifth fifth" "bottom bottom bottom";
  }
  .third_section {
    max-width: 150rem;
  }
  .third_section__container {
    width: 78%;
    padding: 12rem 0;
  }
  .third_section__text_block__heading {
    font-size: 9rem;
  }
  .third_section__container__text {
    width: 50%;
    margin: 5rem 0;
  }
}
/*# sourceMappingURL=style.css.map */